.margin-top-10x {  margin-top: 10px;  }
.margin-top-20x {  margin-top: 20px;  }
.margin-top-30x {  margin-top: 30px;  }
.margin-top-40x {  margin-top: 40px;  }
.margin-left-10x{margin-left: 10px;}
.margin-right-10x{margin-right: 10px;}
.margin-right-20x{margin-right: 20px !important;}