<div ng-include="'app/shared/header/header.html'"></div>
<section class="padding text-center subHeader">
    <h1>Aqui podrás ver tus matches!</h1>
    <!--<h1>Conectamos tus platillos al instante</h1>-->

    <!--<p>Gula te perminte editar los precios de tu menu en cualquier momento</p>-->
</section>
<section class="padding bg-gray">
    <div class="container">
        <div layout="column" layout-gt-xs="row">
            <!--<div flex="20">-->
            <!--<ul class="sideLeftMenu">-->
            <!--<li>-->
            <!--&lt;!&ndash;<a ui-sref="categories">Administrar Categorías</a>&ndash;&gt;-->
            <!--</li>-->

            <!--</ul>-->
            <!--</div>-->
            <div flex="80">
                <div class="contentBlock">
                    <section ng-show="!orders || orders.length<=0" class="text-center padding">
                        <h2>No tienes matches para mostrar</h2>
                    </section>
                    <ul class="orderList">
                        <li ng-repeat="order in orders">
                            <div ui-sref="detail({id:order.id})">
                                <div layout="row">
                                    <div flex="80">
                                        <p class="">
                                            {{order.deliveryInfo.name}}
                                        </p>
                                    </div>
                                    <div flex="20" class="text-right">
                                        <p class="text-right">{{order.createAt | date:'short'}}</p>
                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div ng-include="'app/shared/footer/footer.html'"></div>