<div id="login">
    <div class="loginContainer">
        <div class="loginLogo text-center">
            <h2>Dog Love</h2>
        </div>
        <div class="errorMessage" ng-show="badLogin">
            <p>Nombre de usuario o contraseña incorrectos</p>
        </div>
        <div class="loginForm">

            <div class="">
                <h3 class="text-center">¡Bienvenido de nuevo!</h3>
                <div>
                    <md-input-container md-no-float class="md-block margin-top-30x">
                        <input ng-model="user.email" type="email" placeholder="Correo">
                    </md-input-container>
                    <md-input-container md-no-float class="md-block">
                        <input type="password" ng-model="user.password" placeholder="Contraseña">
                    </md-input-container>
                </div>
                <div layout="row">
                    <div flex>
                        <a href="" class="color-orange small margin-top-10x left">¿Olvidaste tu contraseña?</a>
                    </div>
                    <div flex>
                        <md-button class="md-raised md-primary right" ng-click="logon()">Entrar</md-button>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div layout="row" class="text-center margin-top-30x">
                <div flex>
                    <a ui-sref="reg" class="color-white">¿No tienes cuenta? Regístrate aquí</a>
                </div>
            </div>
        </div>

    </div>
</div>