<div id="login">
    <div class="loginContainer">
        <div class="errorMessage" ng-show="badLogin">
            <p>Nombre de usuario o contraseña incorrectos</p>
        </div>
        <div class="loginForm">

            <div class="">
                <h3 class="text-center">Regístrate en DogLove</h3>

                <div>
                    <md-input-container md-no-float class="md-block margin-top-30x">
                        <input ng-model="newUser.owner" type="text" placeholder="Nombre del usuario">
                    </md-input-container>
                    <md-input-container md-no-float class="md-block ">
                        <input ng-model="newUser.name" type="text" placeholder="Nombre de la mascota">
                    </md-input-container>
                    <md-input-container md-no-float class="md-block ">
                        <input ng-model="newUser.email" type="email" placeholder="Correo">
                    </md-input-container>
                    <!--<md-input-container md-no-float class="md-block">-->
                    <!--<input type="password" ng-model="user.password" placeholder="Contraseña">-->
                    <!--</md-input-container>-->
                    <md-input-container md-no-float class="md-block">
                        <input type="password" ng-model="newUser.code" placeholder="Contraseña">
                    </md-input-container>
                </div>
                <div layout="row">
                    <div flex>
                        <md-button class="md-raised md-primary right" ng-click="register()">Registrar</md-button>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div layout="row" class="text-center margin-top-30x">
                <div flex>
                    <a ui-sref="login" class="color-white">¿Ya tienes cuenta? Inicia sesión</a>
                </div>
            </div>
        </div>

    </div>
</div>