<div ng-controller="headerController">
    <nav>
        <div class="container">
            <div layout="row">
                <div flex>
                    <ul class="mainMenu">
                        <li><a ui-sref="main">Dashboard</a></li>
                        <li><a ui-sref="matches">Matches</a></li>
                        <li><a></a></li>
                    </ul>
                </div>
                <div flex>
                    <div class="logoContainer">
                        <h2>Dog Love</h2>
                    </div>
                </div>
                <div flex>
                    <ul class="mainMenu right">
                        <li>
                            <md-menu class="right" md-position-mode="target-right target">
                                <md-button ng-click="openMenu($mdOpenMenu, $event)">
                                    Configuracion <i class="fa fa-caret-down"></i>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button ui-sref="profile">
                                            <md-icon  ><i class="material-icons">perm_identity</i></md-icon>
                                            Perfil Usuario
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-divider></md-menu-divider>
                                    <md-menu-item>
                                        <md-button ui-sref="payments">
                                            <md-icon  ><i class="material-icons">attach_money</i></md-icon>
                                            Perfil Mascota
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-divider></md-menu-divider>
                                    <md-menu-item>
                                        <md-button ui-sref="bankaccount">
                                            <md-icon  ><i class="material-icons">credit_card</i></md-icon>
                                            Configuracion
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-divider></md-menu-divider>
                                    <md-menu-item>
                                        <md-button ng-click="logout()">
                                            <md-icon  ><i class="material-icons">exit_to_app</i></md-icon>
                                            <!--<md-icon  md-menu-align-target><i class="fa fa-user" aria-hidden="true"></i></md-icon>-->
                                            Cerrar Sesión
                                        </md-button>
                                    </md-menu-item>
                            </md-menu>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>