<div ng-include="'app/shared/header/header.html'"></div>
<section class="padding-10x">
    <div class="container">
        <div layout="column" layout-gt-xs="row">
            <div flex="29">
            </div>
            <div flex="42">
                <md-card class="mainBoards">
                    <div class="mainBoardAvataContainer">

                    </div>
                </md-card>
            </div>
            <div flex="29">

            </div>
        </div>
    </div>
</section>
<div ng-include="'app/shared/footer/footer.html'"></div>